@font-face {
    font-family: Onehunga;
    src: url(../font/OnehungaSans-Regular.otf);
}

a, a:hover {
    text-decoration: none;
}

body {
    background-color: #000;
    color: white;
    font-family: Onehunga, sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.content-body {
    flex: 1 0 auto;
}

@media screen and (max-width: 768px){
    .content-body{
        margin-bottom: 8rem;
    }
}

.footer {
    flex-shrink: 0;

    margin-top: 5rem;
}

@media screen and (max-width: 768px){
    .footer{
        margin-top: -3rem;
        margin-bottom: 2.5rem;
    }
}

html {
    height: -webkit-fill-available;
}

.clearfix {
    clear: both;
}

.jurnal-link {
    text-decoration: underline;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.content {
    min-height: 60%;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 8em;
    z-index: 10;
    transition: all .3s;

    margin-bottom: 0px;
}

.header.open {
    background-color: black;

}

.header .title {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.header .btn {
    position: absolute;
    top: 50%;
    right: 24px;
    font-size: 24px;
    color: #FFF;
    transform: translateY(-50%);
}

.header .btn .open-button {
    display: none;
}

.header .btn .close-button {
    display: initial;
}

.header.open .btn .close-button {
    display: none;
}

.header.open .btn .open-button {
    display: initial;
}


.header .title a {
    color: white;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    letter-spacing: 0.03em;

}

.header .nav-menu {
    opacity: 0;
    visibility: collapse;
    position: fixed;
    top: 6em;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
    transition: opacity .8s, visibility .1s .8s;
}

.header.open .nav-menu {
    opacity: 1;
    visibility:visible;
    transition: opacity .8s;
}

.header .nav-menu .menu-list {
    position:absolute;
    top: 34%;
    left: 2em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
}

@media screen and (max-height: 400px){
    .menu-letter-spacing {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 768px){
    .footer{
        margin-top: -3rem;
        margin-bottom: 2.5rem;
    }
}

.header .nav-menu .menu-list li a {
    color: white;
    font-size: 34pt;
}

.header .nav-menu .menu-list .active{
    text-underline-offset: 3px;
}

#carousel-engine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carousel-engine .carousel-item {
    width: 15em;
    height: 15em;
}

.carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


.section-one {
    margin: 13em 32px;
    height: 60%;
    position: relative;
}

.section-one .title {
    font-style: normal;
    font-weight: normal;
    font-size: 55pt;
    line-height: 120%;

    /* or 85px */
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: transparent;

    /* Gray 5 */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content-container {
    margin: 32px;
}

.content-container .square {
    position: relative;
}

.content-container .square img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    max-height: 95%;
}

.section-email {
    margin: 0 32px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;

    /* or 24px */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 50%;
    margin-bottom: 5em;
}


.section-footer {
    margin: 0 32px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;

    /* or 24px */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 50%;
}

.collection {
    padding-top: 2em;
    margin: 0 32px;
    position: relative;
}

.collection .types {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
}

.collection .types .label-type {
    display: block;
    white-space: nowrap;
    margin:5px 0;
    margin-right: 15px !important;
    font-size: 18pt;
    color: white;
    opacity: 0.3;
}

.collection .types .label-type.active {
    color: white;
    opacity: 1;
}

.collection .categories {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
}

.collection .categories .label-categories {
    display: block;
    white-space: nowrap;
    margin:5px 0;
    margin-right: 10px;
    font-size: 10pt;
    color: white;
    opacity: 0.3;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.collection .categories .label-categories.active {
    color: white;
    opacity: 1;
}

.content-container .square .info {
    position: absolute;
    z-index: 11;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.content-container .square:hover .info {
    opacity: 1;
}

.content-container .square .info .info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

}

.content-container .square .info .info-container .title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.content-container .square .info .info-container .description {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 10pt;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.pagination-footer {
    margin: 0 32px;
}

.pagination-footer nav {
    width: 100%;
    justify-content: space-between;
}

.pagination-footer nav .page-item {
    background-color: transparent;
}

.pagination-footer nav .page-item a, .pagination-footer nav .page-item span{
    background: none !important;
    border: none;
    color: #aaa;
    font-size: 1.3em;
}

.pagination-footer nav .pagination .page-item {
    flex-grow: 1;
    text-align: center;
}

.pagination-footer nav .pagination .page-item:last-child {
    flex-grow: 4;
    text-align: right;
    color: white !important;
}

.pagination-footer nav .pagination .page-item:first-child {
    flex-grow: 4;
    text-align: left;
    color: white !important;
}

.pagination-footer nav .pagination .page-item.disabled {
    color: #aaa !important;
}

.modal {
    color: #333;

}

.modal .modal-title {
    font-family: Onehunga, sans-serif;
}

.modal .modal-content {
    border-radius: 0;
}

.modal .modal-header {
    border-bottom: none;
}

.modal .modal-footer {
    border-top: none;
}


/*

    DESKTOP VERSION

*/


@media only screen and (min-width: 768px) {
    /* For desktop: */

    .header {
        position: initial;
        display: flex;
        width: 100%;
        align-content: space-between;
        align-items: center;

        margin-bottom: 24px;
    }

    .header .btn-link {
        display: none;
    }

    .header .title {
        width: auto;
        flex-grow: 1;
        position: initial;
        transform: translateY(0%);
    }

    .header .title a {
        color: white;
        font-size: 36px;
        font-style: normal;
        font-weight: normal;
        line-height: 34px;

        letter-spacing: 0.03em;
    }

    .header .nav-menu {
        width: auto;
        height: auto;
        text-align: right;
        position: initial;
        visibility: visible;
        opacity: 1;
    }

    .header .nav-menu .menu-list {
        position:initial;
        display: flex;
        flex-wrap: nowrap;
        text-align: right;
        transform: translateY(0);
    }

    .header .nav-menu .menu-list li:hover, .header .nav-menu .menu-list li.active {
        border-bottom: 1px solid white;
    }


    .header .nav-menu .menu-list li {
        margin-right: 2em;
    }

    .header .nav-menu .menu-list li a {
        font-size: 24px;
    }

    .jurnal-link {
        text-decoration: none;
    }

    .section-one {
        margin: 0 4em;
        height: 68vh;
        position: relative;
    }

    .section-one .title {
        font-size: 110pt;
        position: absolute;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
    }

    #carousel-engine {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }

    #carousel-engine .carousel-item {
        width: 35em;
        height: 35em;
    }

    .section-email {
        text-align: right;
        width: auto;
    }

    .section-footer {
        width: auto;
    }

    .section-email .email {
        width: auto;
    }

    .collection .categories {
        justify-content: flex-end;
        overflow: auto;
        background-color: transparent;
    }

    .collection {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .collection .types .label-type {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;
        margin: 0;
        padding: 0;
        /* identical to box height */
        letter-spacing: 0.03em;

        color: #FFFFFF;
    }

    .collection .categories {
        align-items: flex-end;
    }

    .collection .categories .label-categories {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;
    }

}

.menu-letter-spacing{
    letter-spacing: 3px;
}

@media only screen and (max-width: 768px){
    .active{
        text-decoration: underline;
    }

    /**
     * Part of "Koleksi" menu. 
     */
    .collection .types .active {
        text-decoration: none;
    }

    .collection .categories .active{
        text-decoration: none;
    }
}


.font-bold{
    font-weight: bold;
}

/**
 * Hover State 
 */

.image-hover-state:hover{
    box-shadow: inset 99999px 99999px 99999px rgb(0, 0, 255);
}
